---
import Base from "../layouts/Base.astro";
---

<Base>
  <p>
    You can find the source code for this website <a
      href="https://github.com/anthoid/htmx-astro">here</a
    >.
  </p>
  <p>Here are some resources if you want to learn more about HTMX:</p>
  <ul>
    <li><a href="https://htmx.org/docs/">HTMX Documentation</a></li>
    <li>
      <a href="https://youtube.com/watch?v=r-GSGH2RxJs">htmx in 100 seconds</a>
    </li>
    <li><a href="https://hypermedia.systems/">Hypermedia Systems</a></li>
  </ul>
</Base>
