---
import Base from "../layouts/Base.astro";
---

<Base>
  <p>
    The purpose of this site is to test the combination of <a
      href="https://htmx.org">HTMX</a
    > and <a href="https://astro.build">Astro</a>, with the aim of creating a <a
      href="https://developer.mozilla.org/en-US/docs/Glossary/Progressive_Enhancement"
      >progressively enhanced</a
    > website.
  </p>
  <p>
    If you have JavaScript enabled, you might notice that the page doesn't flash
    or reload when you click the links above. There's also a transition between
    each navigation.
  </p>
  <p>
    Many pages use the <a
      href="https://developer.mozilla.org/en-US/docs/Glossary/SPA"
      >single-page application</a
    > architecture to provide a smooth, app-like experience. But this requires
    the use of a framework like React or Vue, and results in large JavaScript
    bundles being sent to the user.
  </p>
  <p>
    HTMX eliminates this overhead and greatly simplifies the application
    architecture, with the added benefit of progressive enhancement...
  </p>
</Base>
