---
import Base from "../layouts/Base.astro";
---

<Base>
  <p>
    The goal of progressive enhancement is to provide a great user experience
    <em>regardless</em> of the user's device, browser, or preferences.
  </p>
  <p>
    HTMX creates a more refined experience for users with JavaScript enabled,
    while not sacrificing on usability for those who have it disabled.
  </p>
  <p>
    If you disable JavaScript, you'll lose the smooth navigation and animations
    on this website, but you won't lose the overall functionality. I personally
    think that's pretty neat!
  </p>
</Base>
